<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MangaSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MangaSplitter.Properties.Settings>
            <setting name="ImagesPrefix" serializeAs="String">
                <value>Boku_no_Hero_Academia_</value>
            </setting>
            <setting name="MagickPath" serializeAs="String">
                <value>C:\Program Files\ImageMagick-7.0.2-Q16\magick.exe</value>
            </setting>
        </MangaSplitter.Properties.Settings>
    </applicationSettings>
</configuration>